.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.skyblue{
    background-color: skyblue;
}
.bold{
    font-weight: bold;
}